* {
    font-family: 'PT Sans';
}

.backlog-head-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headline-backlog-container{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 50px;
}

.headline-backlog{
    width: 80%;
    display: flex;
    flex-direction: column;}



.backlog-head {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.backlog-head h5 {
    color: rgb(0, 0, 164);
    width: 90px;
}

.backlogs-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backlog {
    background-color: #F4F3FB;
    display: flex;
    height: 80px;
    cursor: pointer;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    width: 80%;
    border-left: 5px solid rgb(111, 138, 115);
}

.backlog:hover {
     transition: 70ms ease-in-out;
     border: 5px solid rgb(111, 138, 115);

}

.profile {
    min-width: 100px;
    height: 90px;
    display: flex;
    margin-left: 15px;
    text-align: start;
    align-items: center;
}

.category {
    margin: 0px;
    min-width: 80px;
    text-align: start;
}

.description {
    margin-right: 15px;
    min-width: 100px;
}

.Marco {
    border-left: 5px solid rgb(100, 100, 253);
}

.Marco:hover {
    transition: 70ms ease-in-out;
    border: 5px solid rgb(100, 100, 253);
}

.Tom {
    border-left: 5px solid rgb(31, 133, 0);
}

.Tom:hover {
    transition: 70ms ease-in-out;
    border: 5px solid rgb(31, 133, 0);
    ;
}

.Me {
    border-left: 5px solid rgba(149, 0, 105, 0.883);
}

.Me:hover {
    transition: 70ms ease-in-out;
    border: 5px solid rgba(149, 0, 105, 0.883);
}

.Valentin {
    transition: 70ms ease-in-out;
    border-left: 5px solid rgb(204, 105, 12);
}

.Valentin:hover {
    border: 5px solid rgb(204, 105, 12);
}

.main-div {
    display: flex;
    width: 100%;
}

.backlog-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.add-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: #F4F3FB !important;
    width: 100% !important;
}

.change-task-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancel-button {
    cursor: pointer;
    margin-right: 5px;
}

.cancel-button:hover {
    margin-right: 5px;
    background-color: navy;
}

.addToBoard-button {
    cursor: pointer;
    margin-left: 5px;
}

.addToBoard-button:hover {
    background-color: navy;
    margin-left: 5px;
}

.buttons {
    display: flex;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
  .backlog-content {
        width: 100%;
        
    }
}