main {
    margin-top: 50px;
}

.highlight {
    background-color: #d9d7e3!important;
}

.cursor {
    cursor: pointer;
}

.move {
    display: none;
    justify-content: center;
}

.hover:hover {
    transform: scale(1.08);
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 1px dotted rgb(30, 49, 144);
}

.mainContainer {
    display: flex;
    flex-wrap: nowrap;
}

.colum-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: bold;
}

.colum {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 95%;
    background-color: #f4f3fb;
    margin: 10px;
    border-radius: 7px;
}

.board-task {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
}

.board-category {
    padding-bottom: 5px;
    color: rgb(114, 114, 114);
}

.board-title {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.board-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.board-date {
    color: rgb(114, 114, 114);
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
}

.empty img {
    height: 50px;
    width: 50px;
}

.empty img:hover {
    transform: scale(1.08);
}

.empty a {
    text-decoration: none;
    color: rgb(30, 49, 144);
}

.empty a:hover {
    color: rgb(25, 41, 119);
    font-weight: bold;
}

@media (max-width: 1000px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
    .colum-container {
        width: 100%;
    }
    .move {
        display: flex;
    }
}