body {
    font-family: PT sans-serif;
}

.help {
    display: flex;
    flex-direction: column;
}

.help-explaning {
    background-color: rgba(0, 0, 0, 0.06);
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
}

p img {
    width: 100%;
}

h1 {
    font-size: 25px !important;
    font-weight: bold;
    margin: 0px;
    margin-top: 50px;
    font-weight: 700;
}

h3 {
    font-size: 15px !important;
    margin: 0px;
    margin-bottom: 50px;
    font-weight: 700 !important;
    color: rgb(30, 49, 144);
}